.edit-spot-modal {
    width: 500px;
    height: 600px;
    max-height: 80vh;
    padding: 10px; /* Adjust padding to reduce spacing */
    background-color: white;
    border-radius: 10px; /* Border-radius for smooth edges */
    overflow-y: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Apply the shadow only here */
  }

  .edit-spot-modal h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .edit-spot-modal input,
  .edit-spot-modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .edit-spot-modal button {
    padding: 10px 20px;
    background-color: #28282B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .edit-spot-modal {
    width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Similar shadow to sign-up */
  }

  #modal-content {
    padding: 0; /* Ensure no padding here */
    box-shadow: none; /* Ensure no shadow here */
  }
